This model works to estimate the prices based on the following features:

In [83]:
#importing modules
import tensorflow as tf
from tensorflow import keras
from keras import datasets
from keras import layers
from keras import models
import time
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import keras as K
from tensorflow import keras
from sklearn.model_selection import train_test_split
from keras.layers import Embedding, Conv1D, GlobalMaxPooling1D, Dense
from keras.models import Sequential
from sklearn.preprocessing import LabelEncoder
#from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
import spacy
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import joblib

In [20]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [46]:
data_path = "data.csv"
df = pd.read_csv(data_path)
df.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [47]:
set(df['status'])

{'for_sale', 'ready_to_build', 'sold'}

In [48]:
state_df_only = df[df['state'] == 'New Jersey']

In [49]:
set(state_df_only['status'])

{'for_sale', 'ready_to_build', 'sold'}

In [50]:
state_df_only['rent'] = np.random.randint(2500, 4001, size=len(state_df_only))

/var/folders/b8/466710_d78q31z8wgrvw2cc00000gn/T/ipykernel_23536/2258677479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df_only['rent'] = np.random.randint(2500, 4001, size=len(state_df_only))

In [51]:
state_df_only.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,rent
5199,39788.0,for_sale,333490.0,3.0,3.0,0.07,1901196.0,Burlington,New Jersey,8016.0,1500.0,NaN,3531
44418,16709.0,for_sale,339900.0,2.0,2.0,0.11,893593.0,Avenel,New Jersey,7001.0,1456.0,1987-05-20,2880
44419,60594.0,for_sale,305100.0,3.0,2.0,0.14,169015.0,Avenel,New Jersey,7001.0,1542.0,2022-01-27,2510
44420,15800.0,for_sale,205000.0,3.0,1.0,0.11,1060290.0,Avenel,New Jersey,7001.0,925.0,NaN,2795
44421,52665.0,for_sale,479000.0,NaN,NaN,0.11,1256287.0,Avenel,New Jersey,7001.0,NaN,2016-12-21,3370

In [52]:
set(state_df_only['status'])

{'for_sale', 'ready_to_build', 'sold'}

In [53]:
number_of_sold_records = (state_df_only['status'] == 'for_sale').sum()
number_of_sold_records

33400

In [54]:
state_df = state_df_only[state_df_only['status'] == 'for_sale']

In [55]:
len(state_df)

33400

In [56]:
set(state_df['status'])

{'for_sale'}

In [57]:
state_df.loc[state_df['status'] == 'for_sale', 'status'] = 'for_rent'

In [58]:
set(state_df['status'])

{'for_rent'}

In [59]:
state_df_duplicate = pd.concat([state_df,state_df,state_df,state_df,state_df,state_df,state_df,state_df], ignore_index=True)

In [60]:
len(state_df_duplicate)

267200

In [61]:
state_df_cleaned= state_df_duplicate.dropna()

In [62]:
len(state_df_cleaned)

76048

In [63]:
state_df_cleaned.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,rent
1,16709.0,for_rent,339900.0,2.0,2.0,0.11,893593.0,Avenel,New Jersey,7001.0,1456.0,1987-05-20,2880
2,60594.0,for_rent,305100.0,3.0,2.0,0.14,169015.0,Avenel,New Jersey,7001.0,1542.0,2022-01-27,2510
5,53550.0,for_rent,325000.0,3.0,3.0,0.15,1354688.0,Avenel,New Jersey,7001.0,1870.0,2002-12-17,2518
8,81259.0,for_rent,440000.0,4.0,2.0,0.17,863208.0,Avenel,New Jersey,7001.0,1842.0,2015-11-23,2614
10,48366.0,for_rent,399000.0,3.0,3.0,0.06,190536.0,Avenel,New Jersey,7001.0,1476.0,1990-02-28,3536

In [67]:
state_df_cleaned.columns

Index(['price', 'bed', 'bath', 'acre_lot', 'street', 'city', 'state',
       'zip_code', 'house_size', 'rent'],
      dtype='object')

In [65]:
#state_df_cleaned.drop(['brokered_by', 'status','prev_sold_date'], axis=1, inplace=True)
state_df_cleaned.drop(['brokered_by', 'status','prev_sold_date'], axis=1, inplace=True)

/var/folders/b8/466710_d78q31z8wgrvw2cc00000gn/T/ipykernel_23536/1652658617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df_cleaned.drop(['brokered_by', 'status','prev_sold_date'], axis=1, inplace=True)

In [68]:
state_df_cleaned.head()

,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,rent
1,339900.0,2.0,2.0,0.11,893593.0,Avenel,New Jersey,7001.0,1456.0,2880
2,305100.0,3.0,2.0,0.14,169015.0,Avenel,New Jersey,7001.0,1542.0,2510
5,325000.0,3.0,3.0,0.15,1354688.0,Avenel,New Jersey,7001.0,1870.0,2518
8,440000.0,4.0,2.0,0.17,863208.0,Avenel,New Jersey,7001.0,1842.0,2614
10,399000.0,3.0,3.0,0.06,190536.0,Avenel,New Jersey,7001.0,1476.0,3536

In [69]:
X=state_df_cleaned.drop(['rent'], axis=1)
y=state_df_cleaned['rent']

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [71]:
numerical_features = ['bed', 'bath', 'acre_lot', 'house_size','zip_code','street','price']
categorical_features = ['city', 'state']

In [72]:
numerical_transformer = StandardScaler()
categorical_transformer = OneHotEncoder()

In [73]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [74]:
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

In [75]:
X_train_preprocessed = pipeline.fit_transform(X_train)
X_test_preprocessed = pipeline.transform(X_test)

In [76]:
X_train_preprocessed.shape

(60838, 616)

In [77]:
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train_preprocessed.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # Output layer with a single neuron for regression

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [78]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [80]:
# Train the model
history = model.fit(X_train_preprocessed, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - loss: 175479.8594 - val_loss: 175993.0000
Epoch 2/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 695us/step - loss: 174155.1562 - val_loss: 175576.4844
Epoch 3/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - loss: 174630.4844 - val_loss: 174213.2812
Epoch 4/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 678us/step - loss: 171657.2188 - val_loss: 174750.2031
Epoch 5/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - loss: 173159.8594 - val_loss: 174080.7656
Epoch 6/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - loss: 172279.6094 - val_loss: 174246.6562
Epoch 7/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - loss: 171865.6562 - val_loss: 173309.0000
Epoch 8/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - loss: 172060.5000 - val_loss: 173489.5000
Epoch 9/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 722us/step - loss: 170752.4062 - val_loss: 172905.1250
Epoch 10/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - loss: 171881.4688 - val_loss: 174364.2969
Epoch 11/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - loss: 171372.7656 - val_loss: 173058.2344
Epoch 12/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - loss: 169704.8438 - val_loss: 172168.2031
Epoch 13/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - loss: 170006.2188 - val_loss: 172960.0156
Epoch 14/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 694us/step - loss: 170260.5625 - val_loss: 171725.5781
Epoch 15/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - loss: 169084.7031 - val_loss: 171312.4688
Epoch 16/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - loss: 169766.0938 - val_loss: 171685.9375
Epoch 17/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 672us/step - loss: 168876.2656 - val_loss: 170926.9375
Epoch 18/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 168973.9219 - val_loss: 171778.9531
Epoch 19/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - loss: 167825.7031 - val_loss: 169820.6875
Epoch 20/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - loss: 167952.5000 - val_loss: 169264.2031
Epoch 21/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - loss: 169352.0781 - val_loss: 169094.8438
Epoch 22/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - loss: 167880.7188 - val_loss: 168765.0938
Epoch 23/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - loss: 167245.8438 - val_loss: 168481.8438
Epoch 24/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - loss: 167130.7656 - val_loss: 168007.9688
Epoch 25/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - loss: 166543.0156 - val_loss: 168432.9844
Epoch 26/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 686us/step - loss: 165498.0625 - val_loss: 167951.2344
Epoch 27/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - loss: 164605.0312 - val_loss: 167744.5312
Epoch 28/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - loss: 165329.5781 - val_loss: 169488.7812
Epoch 29/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - loss: 165318.2812 - val_loss: 166629.0938
Epoch 30/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - loss: 164435.7812 - val_loss: 166903.8125
Epoch 31/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 683us/step - loss: 163861.2812 - val_loss: 165823.7969
Epoch 32/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - loss: 164121.0000 - val_loss: 166781.7969
Epoch 33/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - loss: 162656.1719 - val_loss: 165466.9219
Epoch 34/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 692us/step - loss: 163140.5781 - val_loss: 165486.8906
Epoch 35/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - loss: 163563.8906 - val_loss: 165039.6094
Epoch 36/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - loss: 161259.7812 - val_loss: 165224.5469
Epoch 37/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 825us/step - loss: 163050.4375 - val_loss: 164144.4531
Epoch 38/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 715us/step - loss: 160514.7500 - val_loss: 163949.9531
Epoch 39/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 735us/step - loss: 160577.2969 - val_loss: 164601.4688
Epoch 40/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - loss: 161077.9219 - val_loss: 164067.5000
Epoch 41/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 877us/step - loss: 161184.5156 - val_loss: 163556.6719
Epoch 42/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 714us/step - loss: 160632.8594 - val_loss: 163385.7969
Epoch 43/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - loss: 159245.2656 - val_loss: 163433.9688
Epoch 44/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 749us/step - loss: 159418.4219 - val_loss: 162743.5938
Epoch 45/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 715us/step - loss: 159719.0000 - val_loss: 164675.4688
Epoch 46/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 657us/step - loss: 160927.8125 - val_loss: 162942.7031
Epoch 47/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - loss: 158609.5781 - val_loss: 162772.9688
Epoch 48/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - loss: 158616.9219 - val_loss: 161817.9375
Epoch 49/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - loss: 158403.3750 - val_loss: 163203.3906
Epoch 50/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 638us/step - loss: 157610.2344 - val_loss: 162563.8281
Epoch 51/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 627us/step - loss: 157491.0156 - val_loss: 161291.7656
Epoch 52/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - loss: 157357.4375 - val_loss: 161067.2344
Epoch 53/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 635us/step - loss: 158521.6562 - val_loss: 161622.9688
Epoch 54/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 743us/step - loss: 158276.9531 - val_loss: 160718.0938
Epoch 55/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 746us/step - loss: 158278.1094 - val_loss: 160723.6875
Epoch 56/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - loss: 156998.3750 - val_loss: 160952.4375
Epoch 57/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - loss: 156054.7969 - val_loss: 160280.5000
Epoch 58/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - loss: 155662.4688 - val_loss: 159825.6562
Epoch 59/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 642us/step - loss: 157035.3281 - val_loss: 160146.6875
Epoch 60/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - loss: 155250.6719 - val_loss: 161661.4688
Epoch 61/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 669us/step - loss: 155394.2969 - val_loss: 159159.7031
Epoch 62/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 759us/step - loss: 155270.5156 - val_loss: 159277.0938
Epoch 63/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 671us/step - loss: 155442.7344 - val_loss: 159360.9375
Epoch 64/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 674us/step - loss: 155560.5781 - val_loss: 158971.2188
Epoch 65/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 678us/step - loss: 155083.4844 - val_loss: 159630.4375
Epoch 66/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - loss: 154738.1250 - val_loss: 158927.4062
Epoch 67/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 677us/step - loss: 154599.2656 - val_loss: 158789.2031
Epoch 68/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - loss: 154618.6875 - val_loss: 158538.8594
Epoch 69/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - loss: 154013.6094 - val_loss: 157569.7500
Epoch 70/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - loss: 153202.5469 - val_loss: 157366.4844
Epoch 71/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - loss: 152547.9219 - val_loss: 156955.2656
Epoch 72/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 152846.1094 - val_loss: 156727.1250
Epoch 73/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 785us/step - loss: 151983.3594 - val_loss: 156638.7969
Epoch 74/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 804us/step - loss: 152781.1875 - val_loss: 156155.5156
Epoch 75/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 811us/step - loss: 150146.3281 - val_loss: 156213.9219
Epoch 76/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 719us/step - loss: 150425.2031 - val_loss: 156113.6406
Epoch 77/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - loss: 151760.5625 - val_loss: 155342.6094
Epoch 78/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 808us/step - loss: 148845.5000 - val_loss: 155080.0312
Epoch 79/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 729us/step - loss: 150773.0000 - val_loss: 155695.7500
Epoch 80/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 788us/step - loss: 149211.7031 - val_loss: 154700.0781
Epoch 81/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 821us/step - loss: 150327.0312 - val_loss: 154366.7656
Epoch 82/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - loss: 148381.6719 - val_loss: 154121.4219
Epoch 83/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - loss: 149375.5625 - val_loss: 154093.2188
Epoch 84/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - loss: 149725.7812 - val_loss: 154200.3438
Epoch 85/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 799us/step - loss: 149615.9844 - val_loss: 153725.4531
Epoch 86/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - loss: 149545.2344 - val_loss: 153940.6250
Epoch 87/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 748us/step - loss: 148762.0625 - val_loss: 153389.1719
Epoch 88/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 763us/step - loss: 147885.1562 - val_loss: 153035.9531
Epoch 89/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 734us/step - loss: 148846.9062 - val_loss: 153012.5469
Epoch 90/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 748us/step - loss: 148323.0938 - val_loss: 152914.5625
Epoch 91/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - loss: 148546.5625 - val_loss: 152784.0781
Epoch 92/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 733us/step - loss: 147731.7031 - val_loss: 152854.2188
Epoch 93/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - loss: 147307.1250 - val_loss: 152790.6562
Epoch 94/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - loss: 146282.8125 - val_loss: 152605.6562
Epoch 95/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - loss: 146607.9375 - val_loss: 152350.2812
Epoch 96/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 708us/step - loss: 147651.5469 - val_loss: 152366.4688
Epoch 97/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - loss: 148096.1406 - val_loss: 152020.5469
Epoch 98/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - loss: 146380.2500 - val_loss: 152275.0625
Epoch 99/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 675us/step - loss: 145355.8125 - val_loss: 151989.7500
Epoch 100/100
1521/1521 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - loss: 146832.2344 - val_loss: 151406.6406

In [81]:
# Evaluate the model on the test set
loss = model.evaluate(X_test_preprocessed, y_test)
print(f'Test Loss: {loss}')

476/476 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - loss: 150129.1094
Test Loss: 151255.171875

In [82]:
# Make predictions on new data
new_data = pd.DataFrame({
    'bed': [4],
    'bath': [3],
    'acre_lot': [0.8],
    'street': [893593.0],
    'city': ['Newark'],
    'state': ['New Jersey'],
    'house_size': [2200],
    'zip_code': [7003],
    'price': [500000]
})

# Preprocess the new data
new_data_preprocessed = pipeline.transform(new_data)

# Predict the price
predicted_price = model.predict(new_data_preprocessed)
print(f'Predicted Rent: {predicted_price[0][0]:.2f}')

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step
Predicted Rent: 3330.07

In [84]:
model.save('rent_prediction_model.h5')
joblib.dump(preprocessor, 'rent_preprocessor.pkl')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

['preprocessor2.pkl']