In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('city_crimes.csv')

In [6]:
df.head()

     State       City Population  Crime/100000
0      NaN        NaN        NaN           NaN
1  Alabama     Mobile    248,431       6217.02
2   Alaska  Anchorage    296,188       6640.04
3  Arizona   Chandler    249,355       2589.08
4  Arizona    Gilbert    242,090       1483.75

In [7]:
df.dropna(inplace=True)

In [10]:
import uuid

In [13]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

class FirebaseConfig:
    def __init__(self):
        if not firebase_admin._apps:
            cred = credentials.Certificate("config.json")
            firebase_admin.initialize_app(cred, {
                'databaseURL': 'https://speety-2175-default-rtdb.firebaseio.com'
            })
        self.db = firestore.client()
    
    def initialize_firebase(self):
        return self.db

In [21]:
class Crimes:
    def __init__(self):
        self.db = FirebaseConfig().initialize_firebase()
    def pushCrimes(self):
        for i in range(len(df)):
            if i >= len(df):
                break
            doc_id = str(uuid.uuid1())
            data = {
                doc_id :
            {
                'city': str(df.iloc[i]['City']),
                'state': str(df.iloc[i]['State']),
                'total_population': str(df.iloc[i]['Population']),
                'crime_rate': str(df.iloc[i]['Crime/100000']),
            }
            } 
            self.db.collection('city_crimes').document('scail').update(data)
    #check if we pushed 100 entriess
    def getCrimes(self):
        cities = self.db.collection('city_crimes').document('scail').get()
        return len((cities.to_dict()).keys())

In [22]:
Cm = Crimes()
Cm.getCrimes()

100